div{
    display: block;
    margin-left: 400px;
    margin-top: 150px;
}

div input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 30%;
}

#submitting{
    border-bottom: none;
    width: 10%;
    margin-left: 70px;
}

p{
    margin-left: 50px;
}